body{
    color: #f2f2f2;
    background-color: red;
    display: grid;
    transition: all;
    
}
h1{
    color: #000;
}
.nav{
    display: flex;
    box-sizing: border-box;
    &__list{
     background-color: red;   
    }
    &__link{
        color: rebeccapurple;
    }
}