doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css", attr)
    body
        //=require view/_header.pug
        //=require view/_main.pug
        //=require view/_footer.pug
        script(src="js/script.js")     
            
        